.card-container {
  display: flex;
  flex-direction: column;
  background-color: #1a1918;
  border: 1px solid rgb(231, 67, 26);
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  color: white;
  background-color: rgb(0, 0, 0);
}

.card-container:hover {
  transform: scale(1.05);
}
